@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    margin: 0px;
    background-color: #F5F4F5;
}

nav {
    height: 60px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    background-color: #201D1F;
    color: #69903A;
    position: sticky;
}

.nav--logo {
    max-width: 120px;
}

.nav-li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.nav-links, a{
	color: #FEFAE0;
	text-decoration: none;
}

.nav-links:hover{
	color: #BC6C25;
}

#nav-home{
	color: #69903A;
}

#front-img-box {
	position: relative;
    text-align: center;

}

#img-text{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: rgba(46, 46, 46, 0.816);
	color:#FEFAF0;
	padding: 35px;
}

#main-img {
	width: 100%;
}

button {
	background-color: #BC6C25;
	color:#F5F4F5;
	height: 2.5rem;
	border-radius: 10px;
	border: none;
}

#index-info{
	margin: 40px;
	text-align: center;
	align-content: center;

	font-size: 1.5rem;

}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3.5rem;
}

#img-ptext {
	font-size: 1.5rem;

}

p {
	font-family: 'Lora', serif;
}

h3 {
	margin: 20px;
	color: #69903A;
	padding: 10px;
	font-size: 2rem;
	font-family: 'Open Sans Condensed', sans-serif;

}

#latest{
	margin: 40px;
}

#news{
	display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.news-box {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding: 10px;

	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
}

#news-img {
	width: 100%;
  border-radius: 9px;
}

.news-title {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 2rem;
	color: #BC6C25;
}

.news-box p {
	width: 100%;
}

.news-btn{
	align-content: center;
}

#founder-section {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#founder-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
	max-height: 40%;
	border-radius: 25%;
}

#founder-h {
	margin-left: 40px;
	padding: 5px;
}

#founder-text {
	margin-left: 40px;
	padding: 5px;
}

#mission-section, #plant-section, #don-section{
	margin: 30px;
}

#mission-h, #plant-h, #don-h {
	text-align: center;
}

#mission-p, #plant-p, #don-p, #don-p2 {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 30px;
}

#don-p {
	font-size:1.25rem;
}

#mis-img, #plant-img, #don-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	margin-bottom: 30px;
}

#don-btn {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 20%;
	height: 50px;
	margin-bottom: 20px;
}
